
.CardDiv {
  width: 697px;
  height: 516px;
  flex-shrink: 0;
  border-radius: 12px;
  background: #303030;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}


.DivImg {
  display: flex;
  width: 697px;
  height: 315px;
  flex-shrink: 0;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  margin-bottom: 0;
  background-size: cover;
  background-position: center;
  position: relative; 
  align-items: center;
  justify-content: center;
}

.CardDiv2 {
  padding: 16px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.PrimerDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 13px;
}


.DivPyG {
  display: flex;
  margin-bottom: 14px;
}

.Namegame {
  color: #FFF;
  font-family: 'Exo', sans-serif;
  font-size: 32px;
  font-weight: 700;
  margin: 0;
  line-height: normal;
}

.Ranking {
  color: #36B972;
  text-align: right;
  font-family: 'Exo', sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.Info {
  color: #939393;
  font-family: 'Exo', sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  flex-direction: column;
  text-align: justify;
}

.Info2 {
  color: #FFF;
  font-family: 'Exo', sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  flex-direction: column;
  text-align: justify;
}

.Platforms {
  display: flex;
  gap: 16px;
  margin-left: auto;
}

.Rd {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-right: 15px;
}

.GyP {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  width: 73%;
}

.GyPintern {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.RyG {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 25px;
}

.DivDescription {
  display: flex;
  flex-direction: column;
  color: #FFF;
  font-family: Exo;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: start;
}

.HeartButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 0;
}

.HeartButton:focus {
  outline: none;
}
