.DivGral{
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    background: #303030;
    width: 949px;
    height: 700px;
    
}

.DivImg {
    width: 949px;
    height: 548px;
    flex-shrink: 0;
    border-radius: 24px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #F0F0F0 63.23%, #F0F0F0 75.85%);
    align-items: center;
    background-size: cover;  /* Asegura que la imagen cubra todo el espacio */
    background-position: center;  /* Centra la imagen */
    background-repeat: no-repeat;  /* Evita que la imagen se repita */
}

.Description {
    display: flex;
    width: 603px;
    height: 100px;
    flex-shrink: 0;
    color:  #fff;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 10px;
    margin-left: 32px;
}

.Info{
    color: #939393;
font-family: Exo;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin: 0;
}

.Info2{color: #fff;
    font-family: Exo;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    margin: 0;
}