body {
   
    
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    
   
    font-family: Arial, sans-serif;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.iconColor {
    color: black;
  }

.container {
    background-color: #303030;
    background-blend-mode: overlay;
    backdrop-filter: blur(5px);
    padding: 20px;
    border-radius: 8px;
    width: 462px;
    height: 702px;
    flex-shrink: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: 0; 
}


.inputField {
    flex-grow: 1;
    padding-right: 40px;
    font-family: "Exo";
}

.inputField::placeholder {
    color: #939393;
}

.customButton {
    background-color: #4CC986;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 10px;
    transition: background-color 0.25s;
}

.customButton:hover {
    background-color: #36b972;
}

.switchButton {
    background: none;
    border: none;
    color: #32c755;
    cursor: pointer;
    margin-top: 10px;
}

.switchButton:focus {
    outline: none;
}

.switchButton:hover {
    text-decoration: underline;
    border: none;
}

.checkbox-label {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 0;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
}

.checkbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkbox-label .checkmark {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 3px;
    margin-right: 5px;
}
.checkboxContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inputBlock {
    margin-bottom: 20px;
}

.passwordContainer {
    display: flex;
    align-items: center;
    position: relative;
}

.inputBlock input {
    width: 100%; 
    padding: 10px;
    padding-right: 40px;
    border-radius: 4px;
    border: 1px solid #040303;
    font-size: 16px;
    box-sizing: border-box;
}

.eyeButton {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: none; 
    border: none; 
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.eyeButton img {
    width: 20px; 
    height: 20px; 
}

.facebook,
.twitter,
.google {
    width: 362px;
    height: 47px;
    flex-shrink: 0;
    border-radius: 6px;
    margin-bottom: 24px;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    
}

.lineContainer {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 20px 0;
}

.line {
    flex: 1;
    height: 1px;
    background-color: #FFF;
    margin: 30px;
}


.socialButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.socialButtons button {
    display: flex;
    align-items: center; 
    background: none;
    border: 2px solid #FFF;
    border-radius: 6px;
    margin-bottom: 10px; 
    padding: 10px;
    cursor: pointer;
    width: 362px;
    color: white; 
}

.socialButtons button .icon {
    margin-right: 10px; 
    display: flex;
    align-items: center; 
}

.socialButtons button CustomP {
    margin: 0; 
    font-family: "Exo";
    font-weight: 700;
    font-size: 18px;
    color: white;  
}


.inputBlock.error input {
    border: 2px solid #FB5F5F; 
    
}

.errorMessage {
    color: #FB5F5F;
    font-size: 15px;
    margin-top: 5px;
    font-family: "Exo";
    text-align: left;
    font-weight: 400;
    line-height: normal;
   
   
}

.inputBlock {
    position: relative;
    margin-bottom: 1cqi;
}

input[type="text"],
input[type="password"] {
    width: 362px;
    height: 47px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #FFF;
    color: #ccbcbc;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-size: 0.9rem;
    text-align: left;
}


.textMode {
    color: #e3e9e6; 
}

.textModeDos{
    color: #e3e9e6;
}

.bodyDark {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background-image: url('Img/fondoOscuro.png');
  }
  