.DivGral {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
  top: 100%; /* Colocar el modal justo debajo del elemento activador */
  left: 0; /* Alinear a la izquierda del contenedor */
}


.Genre {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 28px;
  padding: 4.5px 10px;
  background-color: #404040; 
  border-radius: 100px; 
  white-space: nowrap; 
  color: #FFF; 
  font-family: Exo, sans-serif; 
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}
